* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    padding: 96px 0;
}

.form {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #a797f0;
    color: aliceblue;
}

.title-input {
    color: #666;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    display: block;
}
.input__item::placeholder {
    opacity: 1;
    color: #CCCCCC;
    transition: all 200ms ease-in-out;
}

.input__item:focus {
    border: 1px solid #7A5CFA;
}

.input__item:focus::placeholder {
    opacity: 0;
}

.input__item {
    outline: none;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #CCC;
    padding: 16px;
    width: 100%;
    align-items: center;
}

#error-message{
    margin: 10px 0 0 3px;
    color: red;
}

#task-ul {
    margin-top: 20px;
    font-size: 16px;
    text-decoration: dotted;
}

#task-ul li {
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 3px 5px;
    margin-top: 10px;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.delete-button {
    background-color: #7A5CFA;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
}
